# Server API URL
EXPO_PUBLIC_API_URL=http://localhost:8000

# Solana Helius DAS RPC Key
EXPO_PUBLIC_HELIUS_DAS_RPC=https://devnet.helius-rpc.com/?api-key=TU_HELIUS_API_KEY

# Huellazo Anchor Program ID (Solana Devnet)
EXPO_PUBLIC_HUELLAZO_PROGRAM_ID=2S3Xwt56qB314HcLVrRtREyquEz78rAgJaxZmv1s6emZ
